
#wrapper{
	width:600px;
	margin:0 auto;
	font-family:helvetica;
	font-size:1em;
}
input{
	border-radius: 5px;
	height:30px;
	width:300px;
	padding:5px;
	border:1px solid gray;
	font-size:1em;
	margin-bottom:10px;

}
label{

	width:200px;
	float:left;
	padding-top:7px;
}
#submitButton{
	height:40px;
	margin-left:206px;
	width:100px;
}
#error{
	color:red;
}